<div class="header-container flex-container align-middle">
  <div class="flex-child-shrink">
    <app-header-title></app-header-title>
  </div>
  <div class="flex-child-shrink header-current-state">
    <h5><small>{{ currentState() }}</small></h5>
  </div>
  <div class="flex-child-grow"></div>
  <div *ngIf="!isUserLoggedIn()" class="flex-child-shrink header-nav-links" [routerLink]="['/login']">
    Login
  </div>
  <div *ngIf="!isUserLoggedIn()" class="flex-child-shrink header-nav-links" [routerLink]="['/register']">
    Register
  </div>
  <div *ngIf="isUserLoggedIn()" class="flex-child-shrink header-nav-links" (click)="logoutUser()">
    Logout
  </div>
</div>
