// Colours
$wm-primary: #bc5d00;
$wm-primary-light: #f48b39;
$wm-primary-dark: #863100;
$wm-secondary: #37474f;
$wm-secondary-light: #62727b;
$wm-secondary-verylight: lighten($wm-secondary-light, 20%);
$wm-secondary-dark: #102027;
$wm-green: #00cf81;
$wm-red: #ff002b;
$wm-black: #2d2d2d;
$wm-gray: #f7f7f7;

// Shadows
$wm-boxshadow-0: 1px 1px 3px 1px rgba($wm-secondary, 0.3);
$wm-boxshadow-1: 1px 1px 6px 1px rgba($wm-secondary, 0.5);
$wm-boxshadow-2: 2px 2px 6px 2px rgba($wm-secondary, 0.5);
$wm-boxshadow-black-1: 1px 1px 3px 1px rgba(black, 0.6);
$wm-boxshadow-black-1-1: 1px 1px 3px 1px rgba(black, 1);
$wm-boxshadow-black-2: 2px 2px 6px 2px rgba(black, 0.6);
$wm-boxshadow-black-3: 5px 5px 10px 15px rgba(black, 1);
$wm-boxshadow-black-4: 0 0 30px 3px black;
$wm-inset-boxshadow-white: inset 0px 0px 3px 3px rgba(lightblue, 0.8);
$wm-boxshadow-above-1: 0 -1px 3px 1px rgba(black, 0.6);
$wm-boxshadow-above-2: 0 -2px 6px 2px rgba(black, 0.6);
$wm-boxshadow-inset-1: inset 0 0 50px 3px rgba(black, 0.6);

// Transitions
$wm-transition-slow: 0.6s ease;
$wm-transition-medium: 0.3s ease;
$wm-transition-fast: 0.2s ease;
$wm-transition-fastest: 0.1s ease;
