@import '~assets/scss/variables';

.register-container {
  height: 100%;
  width: 100%;
  min-width: 250px;

  .auth-container {
    width: 400px;
    padding: 2rem;
    background: $wm-gray;
    box-shadow: $wm-boxshadow-1;
    font-size: 14px;

    .form-container {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .register-error-msg {
      color: $wm-red;
    }

    .register-response-container {
      .register-success-msg {
        color: $wm-green;
      }

      .login-redirect {
        margin-top: 1rem;
        cursor: pointer;
        transition: all 0.1 ease;
        color: $wm-primary-dark;

        &:hover {
          color: darken($wm-primary-dark, 20);
        }
      }
    }
  }

  .mat-icon-hide-password {
    cursor: pointer;
  }

  .error-mismatch {
    margin-top: -15px;
    font-size: 12px;
    color: red;
  }

  mat-form-field {
    margin: 0.25rem 0;
    width: 100%;
  }
}
