<div class="login-container flex-container align-center align-middle">
  <div class="auth-container flex-container align-center flex-dir-column">
    <h3 class="login-header">Login</h3>
    <div class="flex-child-shrink form-container">
      <!-- Username -->
      <mat-form-field>
        <input matInput #inputUserName placeholder="Username" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field>
        <input matInput #inputPassword placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'" [formControl]="password" required>
        <mat-icon class="mat-icon-hide-password" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Button -->
    <div class="flex-child-shrink flex-container align-right">
        <button class="button success">Login</button>
    </div>
  </div>
</div>
