<div class="login-container flex-container align-center align-middle">
  <div class="auth-container flex-container align-center flex-dir-column">
    <h3 class="login-header">Login</h3>
    <form (ngSubmit)="loginUser()" [formGroup]="userForm">
      <div class="flex-child-shrink form-container">
        <!-- Username -->
        <mat-form-field>
          <input matInput #inputUserName placeholder="Username" formControlName="username" required>
          <mat-error *ngIf="userForm.get('username').invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- Password -->
        <mat-form-field>
          <input matInput #inputPassword placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
          <mat-icon class="mat-icon-hide-password" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="userForm.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <!-- Button -->
      <div class="flex-child-shrink flex-container">
        <div class="flex-child-shrink login-error-msg">
          <p>{{ errorMsg }}</p>
        </div>
        <div class="flex-child-shrink login-success-msg">
          <p>{{ successMsg }}</p>
        </div>
        <div class="flex-child-grow"></div>
        <div class="flex-child-shrink">
          <button type="submit" class="button success">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
