.talent-calculator-container-outer {
  height: 100%;
  width: 100%;
  padding: 0 1rem;

  .talent-calculator-container {
    height: 600px;
    width: 100%;
    min-width: 600px;
    max-width: 1000px;
    background: rgb(157, 183, 189);

    .component-container {
      padding: 1rem;
    }
  }
}
