.bg-class-11 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -0 -0;
}

.bg-class-3 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -40px -0;
}

.bg-class-8 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -0 -40px;
}

.bg-class-2 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -40px -40px;
}

.bg-class-5 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -80px -0;
}

.bg-class-4 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -80px -40px;
}

.bg-class-7 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -0 -80px;
}

.bg-class-9 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -40px -80px;
}

.bg-class-1 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -80px -80px;
}

.bg-class-6 {
  width: 40px;
  height: 40px;
  background: url('/assets/images/class-icons/class-sprites.png') -120px -0;
}
