@mixin generateSpecBgClasses($classId, $specNames) {
  $url: '/assets/images/talent-icons/' + $classId + '/background.jpg';

  @for $i from 1 through 3 {
    .spec-bg-#{$classId}-#{nth($specNames, $i)} {
      background: url($url);
      background-position: -0px -#{500 * ($i - 1)}px;
      width: 192px;
      height: 500px;
    }
  }
}

$warriorSpecs: 'arms', 'fury', 'protection';
$paladinSpecs: 'holy', 'protection', 'retribution';
$hunterSpecs: 'beastmastery', 'marksmanship', 'survival';
$rogueSpecs: 'assassination', 'combat', 'subtlety';
$priestSpecs: 'discipline', 'holy', 'shadow';
$deathknightSpecs: 'blood', 'frost', 'unholy';
$shamanSpecs: 'elemental', 'enhancement', 'restoration';
$mageSpecs: 'arcane', 'fire', 'frost';
$warlockSpecs: 'affliction', 'demonology', 'destruction';
$druidSpecs: 'balance', 'feral', 'restoration';

@include generateSpecBgClasses(1, $warriorSpecs);
@include generateSpecBgClasses(2, $paladinSpecs);
@include generateSpecBgClasses(3, $hunterSpecs);
@include generateSpecBgClasses(4, $rogueSpecs);
@include generateSpecBgClasses(5, $priestSpecs);
@include generateSpecBgClasses(6, $deathknightSpecs);
@include generateSpecBgClasses(7, $shamanSpecs);
@include generateSpecBgClasses(8, $mageSpecs);
@include generateSpecBgClasses(9, $warlockSpecs);
@include generateSpecBgClasses(11, $druidSpecs);
