<div class="talent-header-container">
  <div class="grid-x align-middle align-center">
    <div class="cell shrink">
      <h4 [style.color]="getClassColor()" class="current-class-name">{{ getClassName() }}</h4>
    </div>
    <div class="cell shrink">
      <h5 class="talent-preview">{{ getTalentPreview() }}</h5>
    </div>
    <div class="cell auto"></div>
    <div class="cell shrink">
      <img *ngFor="let classId of classIds" (click)="changeClass(classId)" [ngClass]="{selected: classId === curClassId}" title="{{ getClassName(classId) }}"
        class="class-icons" src="assets/images/class-icons/{{classId}}.png" alt="">
    </div>
  </div>
  <div class="cell small-12 grid-x">
    <div class="cell shrink">
      <h6 class="talent-remaining">Remaining: {{ remaining }}</h6>
    </div>
    <div class="cell auto"></div>
  </div>
</div>