@import '~assets/scss/core';

.talent-tree-container {
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  @include wm-mixin-border(2px, $wm-white);

  .tree {
    position: relative;
    margin: 0.25rem;
    padding-top: rem-calc(4px);

    .tree-meta {
      position: absolute;
      color: $wm-primary-light;
      bottom: 100%;
      left: 0;
      width: 100%;
      text-transform: capitalize;

      .tree-meta-spec {
        margin-left: 0.5rem;
      }

      .button-reset {
        margin: 0;
      }
    }
  }
}
