.talent-calculator-container-outer {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  min-width: 950px;
  max-width: 1000px;

  .talent-calculator-container {
    height: 600px;
    width: 100%;

    .component-container {
      padding: 1rem;
    }
  }
}
