<div class="talent-calculator-container-outer">
  <div class="talent-calculator-container grid-y grid-margin-y">
    <div class="cell shrink">
      <div class="dark-container">
        <app-talent-header></app-talent-header>
      </div>
    </div>
    <div class="cell shrink grid-x grid-margin-x">
      <div class="cell small-9">
        <div class="dark-container">
          <app-talent-tree [classId]="classId"></app-talent-tree>
        </div>
      </div>
      <div class="cell small-3 grid-y grid-margin-y">
        <div class="cell small-6">
          <div class="dark-container">
            <app-talent-glyphs [classId]="classId"></app-talent-glyphs>
          </div>
        </div>
        <div class="cell small-6">
          <div class="dark-container">
            <app-talent-saved></app-talent-saved>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
