<div class="talent-calculator-container-outer">
  <div class="talent-calculator-container grid-y grid-margin-y">
    <div class="cell small-12">
      <app-talent-header></app-talent-header>
    </div>
    <div class="cell small-12 grid-x grid-margin-x">
      <div class="cell shrink">
        <app-talent-tree [classId]="classId" [talentTreeSpecs]="classTalentTreeSpecNames"></app-talent-tree>
      </div>
      <div class="cell auto"></div>
      <div class="cell small-3 grid-y grid-margin-y">
        <div class="cell shrink">
          <app-talent-glyphs [classId]="classId"></app-talent-glyphs>
        </div>
        <div class="cell auto">
          <app-talent-saved></app-talent-saved>
        </div>
      </div>
    </div>
  </div>
</div>
