@import '~assets/scss/core';

.talent-container-outer {
  position: relative;
  height: 35px;
  width: 35px;
  margin: 5px 6px;
  transition: $wm-transition-fast;

  .talent-container-inner {
    width: 100%;
    height: 100%;
    background-size: 31px 31px;
    border: 2px solid $wm-secondary-dark;
    border-radius: 3px;
    background-color: $wm-black;
    cursor: pointer;

    &:hover {
      box-shadow: $wm-inset-boxshadow-white;
    }

    &.no-points-left {
      opacity: .5;
    }

    &.disabled {
      filter: grayscale(100);
    }

    .talent-points {
      position: absolute;
      right: -6px;
      bottom: -8px;
      height: 16px;
      width: 16px;
      background-color: black;
      border: 1px solid gray;
      color: $wm-primary-light;
      text-align: center;
      text-align: center;
      font-size: 11px;
      line-height: 16px;
      transition: all $wm-transition-fast;

      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */

      &.min {
        color: yellow;
      }

      &.maxed {
        color: red;
      }
    }
  }

  .talent-arrow {
    position: absolute;
    z-index: 10;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    &.right {
      left: 32px;
      bottom: 7px;
      height: 14px;
      width: 15px;
    }

    &.left {
      right: 32px;
      top: 7px;
      height: 14px;
      widows: 15px;
    }

    &.down-left {
      right: 32px;
      top: 12px;
      width: 32px;
      height: 32px;
    }

    &.down-right {
      left: 32px;
      top: 12px;
      width: 32px;
      height: 32px;
    }

    &.down-1 {
      top: 32px;
      left: 8px;
      width: 14px;
      height: 12px;
    }

    &.down-2 {
      top: 32px;
      left: 8px;
      width: 14px;
      height: 56px;
    }

    &.down-2-right {
      width: 32px;
      left: 32px;
      top: 12px;
      height: 77px;
    }

    &.down-2-left {
      width: 32px;
      right: 32px;
      top: 12px;
      height: 77px;
    }

    &.down-3 {
      top: 32px;
      left: 8px;
      width: 14px;
      height: 101px;
    }
  }

  &.is-empty {
    opacity: 0.4;

    &:hover {
      opacity: 0.8;
    }
  }
}
