<div class="glyphs-container grid-x">
  <div class="cell small-12">
    <h5 class="glyphs-header">Glyphs</h5>
  </div>
  <div class="cell small-4">
    <app-glyph [type]="'major'"></app-glyph>
  </div>
  <div class="cell small-4">
    <app-glyph [type]="'major'"></app-glyph>
  </div>
  <div class="cell small-4">
    <app-glyph [type]="'major'"></app-glyph>
  </div>
  <div class="cell small-4">
    <app-glyph [type]="'minor'"></app-glyph>
  </div>
  <div class="cell small-4">
    <app-glyph [type]="'minor'"></app-glyph>
  </div>
  <div class="cell small-4">
    <app-glyph [type]="'minor'"></app-glyph>
  </div>
</div>