.talent-tree-container {
  padding: 1rem;

  .tree {
    width: 192px;
    height: 500px;
    background-size: 192px 500px;
    background-repeat: no-repeat;
    margin: 0.25rem;
    padding-top: 4px;
  }
}
