@import "~assets/scss/variables";

.header-title {
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease .2s;
  margin: 0 .5rem;
  font-weight: 400;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  &:hover {
    color: $wm-primary;
  }

  &:active, &:focus {
    outline: 1px solid $wm-black;
    color: $wm-primary;
    outline-offset: 3px;
  }
}
